<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Phoenix</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="phoenix/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="phoenix/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="phoenix/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="phoenix/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="phoenix/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="phoenix/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="phoenix/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="phoenix/assets/js/config.js"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="phoenix/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="phoenix/assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
    <script>
      document.documentElement.classList.remove('dark');
    </script>
  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg sticky-top py-3" data-navbar-soft-on-scroll="data-navbar-soft-on-scroll">
        <div class="container-small px-0 px-sm-3"><a class="navbar-brand" role="button" href="index" >
            <div class="d-flex align-items-center"><img src="phoenix/assets/img/icons/logo.png" alt="phoenix" width="27" />
              <p class="logo-text ms-2">Nuwa</p>
            </div>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item border-bottom border-bottom-lg-0"><a class="nav-link fs--1 fw-bold pe-3 active" aria-current="page" href="index">Escritorio</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <section class="py-0">
       
        <!--/.bg-holder-->

        <div class="container-lg position-relative">
          <div class="row flex-center">
            <div class="col-12 col-sm-9 col-xl-7 px-4 px-xxl-6 text-center pt-10">
			<div class="text-center"><img class="mw-100 mb-6" src="phoenix/assets/img/spot-illustrations/33-s.webp" width="350" alt="" />
              <h1 class="display-3 fw-bolder lh-sm text-1000 mb-4">Estamos trabajando para ti.</h1>
              <p class="mb-10">Agradeciendo tu preferencia, nos mantenemos actualizados y enfocados.
				  Tus necesidades son nuestra prioridad número 1
			  </p>
            </div>
          </div>
        </div>
      </section>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-0">

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 position-relative variant-container">
              <div class="d-flex px-4 pt-6 justify-content-center justify-content-lg-end">
                <div class="text-center">
                  <div class="img-container w-100"><img class="side-panel-thumb h-100 w-100 rounded" src="phoenix/assets/img/sections/vertical-sidenav.webp" alt="" />
                    <div class="layout-thumb"><img class="img-fluid rounded" src="phoenix/assets/img/sections/demo-1.webp" alt="" /></div>
                  </div>
                  <h5 class="py-4 text-1000">Vertical Sidenav (Default)</h5>
                </div>
              </div><a class="stretched-link" href="" target="_blank"></a>
            </div>
            <div class="col-lg-6 position-relative variant-container">
              <div class="d-flex px-4 pt-6 justify-content-center justify-content-lg-start">
                <div class="text-center">
                  <div class="img-container w-100"><img class="side-panel-thumb h-100 w-100 rounded" src="phoenix/assets/img/sections/demo.webp" alt="" />
                    <div class="layout-thumb"><img class="img-fluid rounded" src="phoenix/assets/img/sections/demo.webp" alt="" /></div>
                  </div>
                  <h5 class="py-4 text-1000">Dark Mode</h5>
                </div>
              </div><a class="stretched-link" href="" target="_blank"></a>
            </div>
            <div class="col-lg-6 position-relative variant-container">
              <div class="d-flex px-4 pt-6 justify-content-center justify-content-lg-end">
                <div class="text-center">
                  <div class="img-container w-100"><img class="side-panel-thumb h-100 w-100 rounded" src="phoenix/assets/img/sections/sidenav-dark.webp" alt="" />
                    <div class="layout-thumb"><img class="img-fluid rounded" src="phoenix/assets/img/sections/demo-5.webp" alt="" /></div>
                  </div>
                  <h5 class="py-4 text-1000">Darknav</h5>
                </div>
              </div><a class="stretched-link" href="" target="_blank"></a>
            </div>
            <div class="col-lg-6 position-relative variant-container">
              <div class="d-flex px-4 pt-6 justify-content-center justify-content-lg-start">
                <div class="text-center">
                  <div class="img-container w-100"><img class="side-panel-thumb h-100 w-100 rounded" src="phoenix/assets/img/sections/topnav-slim-combo.webp" alt="" />
                    <div class="layout-thumb"><img class="img-fluid rounded" src="phoenix/assets/img/sections/demo-6.webp" alt="" /></div>
                  </div>
                  <h5 class="py-4 text-1000">Topnav Slim</h5>
                </div>
              </div><a class="stretched-link" href="" target="_blank"></a>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-100 pt-14">

        <div class="container-lg">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-9 col-xl-8 col-xxl-6 text-center">
              <h2 class="text-1000 fw-normal mb-13 lh-sm">Packed with<span class="text-primary ms-2 position-relative fw-bolder d-inline-flex">essential features<img class="text-illustration-underline" src="phoenix/assets/img/spot-illustrations/31.png" alt=""/></span></h2>
              <div class="row">
                <div class="col-12 col-sm-4 px-0">
                  <div class="mb-10 text-center border-end-0 border-end-sm"><img class="img-fluid mb-4" src="phoenix/assets/img/icons/illustrations/11.png" alt="" />
                    <p>Built on <span class='text-bootstrap me-1 fw-bold'>Bootstrap 5</span></p>
                  </div>
                </div>
                <div class="col-12 col-sm-4 px-0">
                  <div class="mb-10 text-center border-end-0 border-end-sm"><img class="img-fluid mb-4" src="phoenix/assets/img/icons/illustrations/12.png" alt="" />
                    <p>Styled with<span class='text-css3 ms-1 fw-bold'>CSS3</span></p>
                  </div>
                </div>
                <div class="col-12 col-sm-4 px-0">
                  <div class="mb-10 text-center border-end-0 border-end-sm border-end-lg-0"><img class="img-fluid mb-4" src="phoenix/assets/img/icons/illustrations/13.png" alt="" />
                    <p>Coded with <span class='text-html5 me-1 fw-bold'>HTML5</span></p>
                  </div>
                </div>
                <div class="col-12 col-sm-4 px-0">
                  <div class="mb-10 text-center border-end-0 border-end-sm"><img class="img-fluid mb-4" src="phoenix/assets/img/icons/illustrations/14.png" alt="" />
                    <p><span class='text-info fw-bold'>Clean </span> design</p>
                  </div>
                </div>
                <div class="col-12 col-sm-4 px-0">
                  <div class="mb-10 text-center border-end-0 border-end-sm"><img class="img-fluid mb-4" src="phoenix/assets/img/icons/illustrations/16.png" alt="" />
                    <p><span class='text-success ms-1 fw-bold'>Cross-browser</span> tested</p>
                  </div>
                </div>
                <div class="col-12 col-sm-4 px-0">
                  <div class="mb-10 text-center border-end-0"><img class="img-fluid mb-4" src="phoenix/assets/img/icons/illustrations/15.png" alt="" />
                    <p><span class='text-sass ms-1 fw-bold'>SASS</span> Supported</p>
                  </div>
                </div>
                <div class="col-12 col-sm-4 px-0">
                  <div class="mb-10 text-center border-end"><img class="img-fluid mb-4" src="phoenix/assets/img/icons/illustrations/17.png" alt="" />
                    <p><span class='text-gulp me-1 fw-bold'>Gulp</span>based workflow</p>
                  </div>
                </div>
                <div class="col-12 col-sm-4 px-0">
                  <div class="mb-10 text-center border-end"><img class="img-fluid mb-4" src="phoenix/assets/img/icons/illustrations/19.png" alt="" />
                    <p>Interactive <span class='text-warning fw-bold'>components</span></p>
                  </div>
                </div>
                <div class="col-12 col-sm-4 px-0">
                  <div class="mb-10 text-center border-end-0 border-end-sm border-end-lg-0"><img class="img-fluid mb-4" src="phoenix/assets/img/icons/illustrations/18.png" alt="" />
                    <p>Collection of <span class='text-info fw-bold'>pages</span></p>
                  </div>
                </div>
                <div class="col-12 col-sm-4 px-0">
                  <div class="mb-10 text-center border-end"><img class="img-fluid mb-4" src="phoenix/assets/img/icons/illustrations/22.png" alt="" />
                    <p><span class='text-warning ms-1 fw-bold'>Chart JS &amp;</span> , ECharts </p>
                  </div>
                </div>
                <div class="col-12 col-sm-4 px-0">
                  <div class="mb-10 text-center border-end"><img class="img-fluid mb-4" src="phoenix/assets/img/icons/illustrations/21.png" alt="" />
                    <p><span class='text-info ms-1 fw-bold'>Dark/Light</span> Layouts</p>
                  </div>
                </div>
                <div class="col-12 col-sm-4 px-0">
                  <div class="mb-10 text-center border-end-0"><img class="img-fluid mb-4" src="phoenix/assets/img/icons/illustrations/23.png" alt="" />
                    <p><span class='text-success ms-1 fw-bold'>FontAwesome 6</span> icons</p>
                  </div>
                </div>
                <div class="col-12 col-sm-4 px-0">
                  <div class="mb-10 text-center border-end"><img class="img-fluid mb-4" src="phoenix/assets/img/icons/illustrations/24.png" alt="" />
                    <p>Opinionated <span class='text-success fw-bold'>code formatter</span></p>
                  </div>
                </div>
                <div class="col-12 col-sm-4 px-0">
                  <div class="mb-10 text-center border-end"><img class="img-fluid mb-4" src="phoenix/assets/img/icons/illustrations/25.png" alt="" />
                    <p><span class='text-w3c me-1 fw-bold'>W3C</span>validated</p>
                  </div>
                </div>
                <div class="col-12 col-sm-4 px-0">
                  <div class="mb-10 text-center border-end-0"><img class="img-fluid mb-4" src="phoenix/assets/img/icons/illustrations/26.png" alt="" />
                    <p>10+ <span class='text-warning fw-bold'>layouts</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->



      <footer class="footer position-absolute">
          <div class="row g-0 justify-content-between align-items-center h-100">
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 mt-2 mt-sm-0 text-900">Powered by &copy;<a class="mx-1" >Nuwa</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-600">v1.13.0</p>
            </div>
          </div>
        </footer>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="phoenix/vendors/popper/popper.min.js"></script>
    <script src="phoenix/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="phoenix/vendors/anchorjs/anchor.min.js"></script>
    <script src="phoenix/vendors/is/is.min.js"></script>
    <script src="phoenix/vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="phoenix/assets/js/phoenix.js"></script>
    <script src="phoenix/assets/js/showcase.js"></script>

  </body>

</html>